{% extends "hlavni_stranka.html" %}
{% load static %}
{% block title %}{{ aukce.nazev }}{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'basci_style.css' %}">
</head>

<div class="button-container">
{% if request.user == aukce.user or request.user.is_superuser %}
<a href="{% url 'smazat_aukci' aukce.id %}">
    <button style="background-color: #cc0000; color: white; border-color: #ea9999">Smazat aukci</button>
</a>
{% endif %}

    {% if request.user.is_authenticated %}
    {% if request.user in aukce.sledujici.all %}
        <form method="post" action="{% url 'odhlasit_aukci' aukce.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" style="background-color: #ea9999; border-color: #cc0000; color: white; border-radius: 10px">Přestat sledovat</button>
        </form>
    {% else %}
        <form method="post" action="{% url 'sleduj_aukci' aukce.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" style="border-radius: 10px; background-color: #ea9999; border-color: #cc0000">Sledovat aukci</button>
        </form>
    {% endif %}
    {% endif %}
</div>

<h1>{{ aukce.nazev }}</h1>
<h4>Vytvořil uživatel: {{ aukce.user.username }}</h4>
<p>Popis: {{ aukce.popis }}</p>
<p>Zahájení: {{ aukce.datum_zacatku }}</p>
<p>Ukončení: {{ aukce.datum_ukonceni }}</p>

{% if aukce.is_active %}
    <p>Minimální příhoz: {{ aukce.minimalni_prihoz }} Kč</p>
    <p>Aktuálně nejvyšší příhoz: {{ aukce.aktualni_castka }} Kč</p>
    {% if aukce.nejvyssi_prihoz_uzivatel %}
        <p>Nejvyšší přihoz podal uživatel: {{ aukce.nejvyssi_prihoz_uzivatel.username }}</p>
    {% endif %}
    <p>Kategorie: {{ aukce.kategorie.nazev }}</p>
    <p>Částka kup teď: {{ aukce.castka_kup_ted }} Kč</p>
    <p>Lokalita: {{ aukce.lokalita }}</p>
    <p>Počet zobrazení: {{ aukce.pocet_zobrazeni }}</p>

{% if aukce.image %}
    <img src="{{ aukce.image.url }}" alt="Aukce obrázek" style="max-width: 100%; height: auto;">
{% endif %}

    {% if request.user.is_authenticated %}
        <h2>Přihazování</h2>
        <form method="post" action="{% url 'aukcni_stranka' aukce.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary" style="background-color: #cc0000; border-radius: 5px; border-color: #ea9999">Přihodit</button>
        </form>

        {% if aukce.is_active and aukce.castka_kup_ted > 0 %}
        <form method="post" action="{% url 'aukcni_stranka' aukce.id %}">
            {% csrf_token %}
            <button type="submit" name="koupit_hned" class="btn btn-success">Koupit hned za {{ aukce.castka_kup_ted }} Kč</button>
        </form>
        {% endif %}
    {% else %}
        <p>Chcete-li přihodit, prosím <a href="{% url 'login' %}">Přihlaste se</a>.</p>
    {% endif %}

    <!-- Error and success messages -->
    {% if error_message %}
        <p style="color:red;">{{ error_message }}</p>
    {% endif %}

    {% if success_message %}
        <p style="color:green;">{{ success_message }}</p>
    {% endif %}

{% else %}
    <!-- Aukce není aktivní -->
    <p style="color:red;">Tato aukce již není aktivní.</p>

    {% if aukce.status == 'BOUGHT' %}
        <p style="color:green;">Tuto aukci vyhrál uživatel {{ aukce.vitez.username }} pomocí "Kup hned".</p>
    {% elif aukce.vitez %}
        <p style="color:green;">Tuto aukci vyhrál uživatel {{ aukce.vitez.username }}.</p>
    {% endif %}
{% endif %}

<h2>Poslední příhozy</h2>
<ul>
    {% for bid in bids %}
        <li>{{ bid.uzivatel.username }}: přihodil {{ bid.castka }} Kč {{ aukce.bids.last.datum_prihozu|date:"d.m.Y H:i"  }}</li>
    {% empty %}
        <li>Žádné nabídky zatím.</li>
    {% endfor %}
</ul>

<h2>Hodnocení aukce a komentáře</h2>
<ul>
    {% for rating in aukce.hodnoceni.all %}
        <li>
            <strong>Uživatel:</strong> {{ rating.uzivatel.username }} -
            <strong>Hodnocení aukce:</strong> {{ rating.rating_aukce }} -
            <strong>Hodnocení prodejce:</strong> {{ rating.rating_prodejce }}<br>
            <strong>Komentář prodejce:</strong> {{ rating.komentar_prodejce }}<br>
            <strong>Hodnocení kupujícího:</strong> {{ rating.rating_kupujiciho }} -
            <strong>Komentář kupujícího:</strong> {{ rating.komentar_kupujiciho }}
        </li>
    {% empty %}
        <li>Žádná hodnocení zatím.</li>
    {% endfor %}
</ul>



<div>
{% if request.user.is_authenticated or request.user.is_superuser %}
<a href="{% url 'hodnotit_aukci' aukce.id %}">
    <button type="submit" class="btn btn-primary" style="background-color: #cc0000; border-radius: 5px; border-color: #ea9999; margin-bottom: 50px">
        Přidat hodnocení a komentář
    </button>
{% else %}
    <p>Aby jste mohli přidávat hodnocení nebo komentáře tak je potřeba se <a href="{% url 'login' %}">přihlásit</a>.</p>
</a>
{% endif %}
</div>

<div>
<a href="{% url 'hlavni_stranka' %}">Zpět na hlavní stránku</a>
<a href="{% url 'seznam_aukci' %}">Zpět na seznam aukcí</a>
</div>


{% endblock %}