{% extends 'hlavni_stranka.html' %}

{% block content %}
<h1>Můj profil</h1>
<a href="{% url 'password_change' %}">Změna hesla</a>


<h2>Informace o uživateli</h2>
<p><strong>Uživatelské jméno:</strong> {{ user.username }}</p>
<p><strong>Jméno:</strong> {{ user.first_name }}</p>
<p><strong>Přijmení:</strong> {{ user.last_name }}</p>
<p><strong>Město:</strong> {{ profile.city }}</p>
<p><strong>Adresa:</strong> {{ profile.address }}</p>
<p style="margin-left: 750px"><strong>Datum vytvoření účtu:</strong> {{ user.date_joined|date:"d.m.Y" }}</p>

<h2>Moje aktivní aukce</h2>
<ul>
    {% for aukce in aukce %}
    <li>
        <a href="{% url 'aukcni_stranka' aukce.id %}">{{ aukce.nazev }}</a> - {{ aukce.popis }}
    </li>
    {% empty %}
    <p>Nemáte žádné aktivní aukce.</p>
    {% endfor %}
</ul>

<h2>Aukce, které jsem vyhrál</h2>
<ul>
    {% for aukce in vyhrane_aukce %}
    <li>
        <a href="{% url 'aukcni_stranka' aukce.id %}">{{ aukce.nazev }} </a>Popis: {{ aukce.popis|truncatewords:30 }}
    </li>
    {% empty %}
    <p>Nevyhráli jste zatím žádnou aukci.</p>
    {% endfor %}
</ul>

<h2>Aukce, které sleduji</h2>
<ul>
    {% for aukce in sledovane_aukce %}
    <li>
        <a href="{% url 'aukcni_stranka' aukce.id %}">{{ aukce.nazev }}</a> - Poslední příhoz:
        {% if aukce.bids.last %}
            {{ aukce.bids.last.uzivatel.username }}: {{ aukce.bids.last.castka }} Kč, {{ aukce.bids.last.datum_prihozu|date:"d.m.Y H:i" }}
        {% else %}
            Žádné příhozy zatím.
        {% endif %}
    </li>
    {% empty %}
    <p>Nesledujete žádné aukce.</p>
    {% endfor %}
</ul>

<p style="margin-left: 750px"><strong>Status účtu:</strong>
    {% if user.is_active %}
        Aktivní
    {% else %}
        Neaktivní
    {% endif %}
</p>

{% endblock %}