{% extends "hlavni_stranka.html" %}
{% load static %}
{% block title %}Seznam aktivních aukcí{% endblock %}

{% block content %}
    <h1>Aktivní aukce</h1>
    {% if aktivni_aukce %}
        <ul>
            {% for aukce in aktivni_aukce %}
            <li>
                <h2>{{ aukce.nazev }}</h2>
                <p>{{ aukce.popis|truncatewords:30 }}</p>
                <p><strong>Minimální příhoz:</strong> {{ aukce.minimalni_prihoz }} Kč</p>
                <p><strong>Datum začátku:</strong> {{ aukce.datum_zacatku }}</p>
                <p><strong>Datum konce:</strong> {{ aukce.datum_ukonceni }}</p>
                <a href="{% url 'aukcni_stranka' aukce.id %}">Detail aukce</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Momentálně nejsou žádné aktivní aukce.</p>
    {% endif %}
{% endblock %}