{% extends "hlavni_stranka.html" %}

{% block content %}
<h1>Vyhledávání aukcí</h1>
<form method="get">
    {{ form.as_table }}
    <input type="submit" value="Hledat" style="background-color: #cc0000; color: white; border-radius: 5px; border-color: #cc0000">
</form>

<h2>Výsledky vyhledávání:</h2>
<ul>
    {% for aukce in aukce %}
        <li>{{ aukce.datum_zacatku }} - Název: {{ aukce.nazev }} - Ktegorie: {{ aukce.kategorie.nazev }} - Minimální příhoz: {{ aukce.minimalni_prihoz }} Kč - Kup hned: {{ aukce.castka_kup_ted }} - Lokalita: {{ aukce.lokalita }}</li>
    <a href="{% url 'aukcni_stranka' aukce.id %}">Detail</a>
    {% empty %}
        <li>Žádné aukce nebyly nalezeny.</li>
    {% endfor %}
</ul>
{% endblock %}