.button-container {
    display: flex;
    gap: 750px;
}

.button-container form {
    margin: 0;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    border-color: #cc0000;
    background-color: #ea9999;
}
